#dataset
HW3/dataset
HW2/dataset
HW1/artist20

#tools
tmp-tools/

#Checkpoints
HW3/exp
HW2/exp
HW1/exp
old_exp/

#logs
HW3/logs
HW2/logs
HW1/logs

#inference results
HW2/inference_result

#cache
/work/jgtf0322/Homework/2023-Fall-DLMAG/HW2/generated_fad_feature_cache.npy
/work/jgtf0322/Homework/2023-Fall-DLMAG/HW2/groundtruth_fad_feature_cache.npy
/work/jgtf0322/Homework/2023-Fall-DLMAG/HW2/bigvsan/generated_fad_feature_cache.npy
/work/jgtf0322/Homework/2023-Fall-DLMAG/HW2/bigvsan/groundtruth_fad_feature_cache.npy
/work/jgtf0322/Homework/2023-Fall-DLMAG/HW2/bigvgan/generated_fad_feature_cache.npy
/work/jgtf0322/Homework/2023-Fall-DLMAG/HW2/bigvgan/groundtruth_fad_feature_cache.npy
/work/jgtf0322/Homework/2023-Fall-DLMAG/HW2/ddsp-singing-vocoders/generated_fad_feature_cache.npy
/work/jgtf0322/Homework/2023-Fall-DLMAG/HW2/ddsp-singing-vocoders/groundtruth_fad_feature_cache.npy

# Others
HW3/pop1k7.csv
HW3/train_score.csv
HW3/generated_samples
